body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jumbotron {
  background-image:url("http://i300.photobucket.com/albums/nn15/icrocklee/together.jpg");
  border-radius: "rounded corners";
  height: 500px;
  width: 1000px;
  vertical-align: center;
}
