body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jumbotron {
  background-image:url("http://i300.photobucket.com/albums/nn15/icrocklee/together.jpg");
  border-radius: "rounded corners";
  height: 500px;
  width: 1000px;
  vertical-align: center;
}
.messagespan {
  display: block;
  font-size: 2em;
  font-family: Raleway;
  font-weight: 400;
}
.chatdiv {
  border: 1px solid black;
  height: 40vh;
  overflow: scroll; 
}
.messagediv input {
  border: 1px solid black;
  width: 46vw;
}
.messageUser {
  display: inline;
}