<div class="row">
  <div class="row margin-top showGroup">
    <div class="col-md-9 col-md-offset-4">
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            <img ng-src="{{showGroup.image}}" alt="...">
          </div>
        </div>
      <div class="col-md-9">
        <h4><a href="/group/{{ showGroup.id }}"> <strong class="text-primary">{{showGroup.name}}</strong></a> | <a ng-click="join(showGroup.id)" class="btn btn-primary btn-sm">Join</a> </h4>
        <!-- <p class='pull-right text-warning'>By {{showGroup.author}}</p> -->
        <p ng-date='longdate'><i class="glyphicon glyphicon-calendar"></i>&nbsp;<time title="{{ showGroup.event | amDateFormat: 'MMM D YYYY' }}">{{ showGroup.event | amDateFormat: 'MMM D YYYY' }}</time> | {{showGroup.time}} </p>
        <p>{{showGroup.description}}</p>
        <p>{{showGroup.streetadress}} | {{showGroup.citystate}}</p>
        <p>{{showGroup.attendees}} <ng-pluralize count="showGroup.attendees" when="{'0': 'people coming together.','1': 'person coming together.', 'other': 'people coming together.'}"></ng-pluralize></p>
      </div>
    </div>
</div>
<div class="container">
      <div class="row row-centered">
        <div class="col-md-9 col-md-offset-2">
        <div class="item">
        <div class="content chatdiv" scroll-glue>
          <span class='messagespan' ng-repeat='content in messageArray'>
          <p class="text-primary messageUser">{{ content.users_display }}:</p>
          <p class="messageUser">{{content.content}}</p>
          </span>
        </div></div></div>
        <div class="col-md-9 col-md-offset-2"><div class="item"><div class='content messagediv'>
          <form name="messageform" novalidate>
          <input ng-model="chatbox" type='text' class="messenger" required/>&nbsp;&nbsp;<a class="btn btn-default btn-xs" ui-keypress="{13: 'chat($event)'}" ng-disabled="messageform.$invalid" ng-click="chat()">Submit</a>
          </form>
        </div></div></div>
      </div>
    </div>